SUPABASE_URL=https://SEU-PROJETO.supabase.co
SUPABASE_KEY=SEU_SUPABASE_SERVICE_ROLE_KEY
TELEGRAM_TOKEN=SEU_TOKEN_BOT
TELEGRAM_CHAT_ID=SEU_CHAT_ID
ENDERECO_LOJA=R. Marinho Falcão, 55 - Vila Madalena, São Paulo

# JSON array com os alvos de monitoramento.
# Exemplo:
# [
#   {
#     "url_concorrente": "https://www.ifood.com.br/delivery/sao-paulo/st-marche-vila-madalena",
#     "termo_busca": "Azeite Andorinha 500ml",
#     "ean_produto": "7896001700141",
#     "concorrente_id": "00000000-0000-0000-0000-000000000000"
#   }
# ]
SCAN_TARGETS_JSON=[]
